*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.header{
    display: flex;
    height: 4rem;
    align-items: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#headerBosch{
    display: block;
    width: 100%;
    height: 1vh;
    padding: 0;
    text-align: center;
    color: white;
    background: url(../imagem/cores.svg) no-repeat bottom center scroll;
    background-position: 30% 45%;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    transition: 2s;
    z-index: -3;
}

.text2 {
    font-size: 2vw;
    margin-top: 5vh;
}

.nome{
    margin-left: 2vh;
}

.nome a{
    text-decoration: none; 
    color: black; 
    transition: 0.2s;
}

.nome a:hover{
    font-size: 105%;
    transition: 0.2s;
}

.imagem{
    margin-left: 2vh;
}

#escritaHeader{
    padding-top: 3vh;
    color: black;
}

/* MAIN */
.corpo{
    justify-content: center;
    margin-top: 2%;
    display: flex;
}

/* FILTROS */

.tipo_medico{
    border-radius: 5px;
    padding-left: 2vh ;
    width: 20%;
    margin-left: 5%;
    margin-top: 2%;
    height: 10%;
    display: flex;
    background-color:rgb(221, 221, 221);
    align-items: center;
}

.tipo_medico select{
    height: 4.5vh;
    width: 40%;
    font-size: 1.7vh;
    border: none;
    border-radius: 5px;
    
}
/* FIM FILTROS */

#no-spin::-webkit-inner-spin-button {-webkit-appearance: none;}

input[type="date"] {
position: relative;
padding: 4px;
}
    
input[type="date"]::-webkit-calendar-picker-indicator {
color: transparent;
background: none;
z-index: 1;
}

input[type="date"]:before {
color: transparent;
background: none;
display: block;
font-family: 'FontAwesome';
content: '\f073';
width: 15px;
height: 20px;
position: absolute;
top: 7px;
right: 6px;
color: #999;
}

/* MEDICOS */

#medico{
    background-color: rgb(221, 221, 221);
}
.medicos{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#cardMedico{
    color: white;
    background-color: rgb(44, 73, 41);
    height: 20vh;
    margin-top: 2%;
    border-radius: 10px;
    display: flex;

}

#cardMedico form{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-left: 10%;
}

#cardMedico{
    transition-duration: 500ms;
    transition-property: margin-right;
}

.fotoMedico{
    width: 30%;
    border-radius: 10px;
}

.descricaoMedico{
    margin-left: 5%;
    width: 25%;
}

#Time{
    background-color: aliceblue;
    border: none;
    border-radius: 5px;
}

#Date{
    background-color: aliceblue;
    border: none;
    border-radius: 5px;
}

.botaoConsulta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    align-items: center;
}

#dadoInvisivel{
    display: none;
}

.botaoConsulta button{
    border: none;
    background-color: rgb(104, 177, 101);
    height: 4vh;
    width: 20vh;
    border-radius: 10px;
    margin-top: 5%;
    transition: 0.2s;
}

.botaoConsulta button:hover{
    transition: 0.2s;
    background-color: rgb(105, 240, 101);
    cursor:pointer;
}


.botaoConsulta select{
    background-color: transparent;
    height: 4vh;
    width: 21.2vh;
    margin-top: 2%;
    margin-bottom: 2%;
}

.botaoConsulta input{
    background-color: transparent;
    height: 4vh;
    width: 21vh;
    margin-top: 2%;
    margin-bottom: 2%;
    border-width: 1px;
}


/* FIM-FILTROS */

/* FIM-MAIN */

















/* FOOTER */

footer{
    margin-top: 10vh;
    color: rgb(92, 89, 89);
    bottom: 0;
    width: 100vw;
    position: fixed;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#footerBosch{
    display: block;
    width: 100%;
    height: 1vh;
    color: white;
    background: url(../imagem/cores.svg) no-repeat bottom center scroll;
    background-position: 30% 45%;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    bottom: 0;
}

/* FIM-FOOTER */