* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */

#escritaHeader{
    padding-top: 3vh;
    color: black;
}

#headerBosch{
    display: block;
    width: 100%;
    height: 1vh;
    padding: 0;
    text-align: center;
    color: white;
    background: url(../imagem/cores.svg) no-repeat bottom center scroll;
    background-position: 30% 45%;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    transition: 2s;
    z-index: -3;
}

.header{
    display: flex;
    height: 4rem;
    align-items: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.nome {
    margin-left: 2vh;
}

.nome {
    margin-left: 2vh;
}

.nome a {
    text-decoration: none;
    transition: 0.2s;
}

.nome a:hover {
    font-size: 105%;
    transition: 0.2s;
}

.imagem {
    margin-left: 2vh;
}

/* FIM HEADER */

/* MAIN */

.consultas {
    margin-left: 10%;
    margin-right: 10%;

    display: flex;
    flex-wrap: wrap;
}

.consulta a{
    background-color: white;
}

.consulta {
    border-radius: 5px;
    padding-left: 2vh;
    padding-right: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(211, 211, 211);
    height: 30vh;
    width: 90%;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 5%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.consultas a {
    background-color: aliceblue;
    padding-left: 3vh;
    border-radius: 10px;
}

/*FIM-MAIN*/










/* FOOTER */

footer{
    margin-top: 52vh;
    color: rgb(92, 89, 89);
    bottom: 0;
    width: 100%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#footerBosch{
    display: block;
    width: 100%;
    height: 1vh;
    color: white;
    background: url(../imagem/cores.svg) no-repeat bottom center scroll;
    background-position: 30% 45%;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    bottom: 0;
}

/* FIM-FOOTER */