*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}

#escritaHeader{
    padding-top: 3vh;
    color: black;
}

#headerBosch{
    display: block;
    width: 100%;
    height: 1vh;
    padding: 0;
    text-align: center;
    color: white;
    background: url(../imagem/cores.svg) no-repeat bottom center scroll;
    background-position: 30% 45%;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    transition: 2s;
    z-index: -3;
}

.header{
    display: flex;
    height: 4rem;
    align-items: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.nome{
    margin-left: 2vh;
}

.nome{
    margin-left: 2vh;
}

.nome a{
    text-decoration: none; 
    color: black; 
    transition: 0.2s;
}

.nome a:hover{
    font-size: 105%;
    transition: 0.2s;
}

.imagem{
    margin-left: 2vh;
}






/* MAIN */

.carrousel img {
    width: 100%;
    margin-top: 2vh;
}

/* CARDS */

.cardSuperior {
    display: flex;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 30%;
    margin: 5%;
    height: 35rem;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card a{
    text-decoration: none;
    color: black;
}

.card img {
    margin-top: 3vh;
    border-radius: 1vw;
    display: flex;
    width: 20vw;
    height: 25vh;
}

.card button {
    border-color: rgb(187, 53, 53);
    background-color: transparent;
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;
    height: 10%;
    width: 10vw;
    font-size: large;
    margin-top: 8vh;
    color: white;
    transition: 0.5s;
}

.card button:hover{
    background-color: rgb(214, 126, 126);
    width: 55%;
    transition: 0.5s;
    border-radius: 20px;
}
/* FIM-CARDS */

.text {
    margin-top: 5vh;
}

/* FIM-MAIN */

/* FOOTER */

footer{
    margin-top: 10vh;
    color: rgb(92, 89, 89);
    bottom: 0;
    width: 100vw;
    position: fixed;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#footerBosch{
    display: block;
    width: 100%;
    height: 1vh;
    color: white;
    background: url(../imagem/cores.svg) no-repeat bottom center scroll;
    background-position: 30% 45%;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    bottom: 0;
}

/* FIM-FOOTER */