* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(215, 226, 214);
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: #393941;
}

::-webkit-scrollbar-thumb {
    background: rgb(4, 41, 16);
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    background-color: rgb(23, 22, 24);
}

/* FOTOOOOO */

.foto:hover #more {
    transition: 0.2s;
    opacity: 1;
}

.foto {
    display: flex;
    justify-content: center;
    align-items: center;
}

#fotoUsuario {
    width: 150px;
    height: 150px;
    border-radius: 99px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.1s;
}

input[type="file"] {
    display: none;
}

#more {
    width: 50px;
    position: absolute;
    cursor: pointer;
}

#more {
    opacity: 0;
    transition: 0.5s;
}

/* FOTOOOOO */

main {
    width: 100%;
    height: 100%;
    background: url(../imagem/tyler-nix-V3dHmb1MOXM-unsplash.jpg) no-repeat bottom center scroll;
    background-position: 30% 45%;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    z-index: -3;
}

.novoHeader {
    display: block;
    width: 100%;
    height: 1vh;
    padding: 0;
    text-align: center;
    color: white;
    background: url(../imagem/CoresVerdeERoxo.png) no-repeat bottom center scroll;
    background-position: 30% 45%;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    z-index: -3;
}

.header {
    display: flex;
    height: 4rem;
    background-color: rgb(17, 49, 19);
}

.logo {
    margin-left: 5vw;
}


.login {
    font-family: 'Montserrat', sans-serif;
    /* margin-top: 3vh; */
    display: flex;
    height: 100vh;
    justify-content: space-between;
}

.login2 {
    font-family: 'Montserrat', sans-serif;
    /* margin-top: 3vh; */
    display: flex;
    height: 100vh;
    justify-content: center;
    background-size: cover;
}


.imagem {
    width: 10%;
    height: 100%;
    margin-right: 5%;
    /* margin-left: 5%; */
    background-image: url("../imagem/teemu-paananen-OOE4xAnBhKo-unsplash.jpg");
    background-size: cover;
    /*USAR PRA CARALHO*/
}

.imagem2 {
    width: 10%;
    height: 100%;
    /* margin-right: 5%; */
    margin-left: 5%;
    background-image: url("../imagem/teemu-paananen-OOE4xAnBhKo-unsplash.jpg");
    background-size: cover;
    /*USAR PRA CARALHO*/
    margin-right: 0;
}

.opcoesDados {
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    height: 20rem;
    width: 50%;
    border-radius: 20px;
}

.opcoes {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 20rem;
    width: 50%;
    border-radius: 20px;
}

.opcoes2 {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    height: 50%;
    border-radius: 20px;
    background-image: url("../imagem/janke-laskowski-jz-ayLjk2nk-unsplash.jpg");
    background-size: cover;
}

.opcoesLogin {
    padding-left: 4vh;
    padding-right: 4vh;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

.botoesLogin {
    margin-top: 6%;
    height: 60%;
}


.opcoesCadastro {
    padding-left: 4vh;
    padding-right: 4vh;
    border-radius: 5px;
    margin-top: 10%;
    color: rgb(0, 0, 0);
}

.dados {
    margin-top: 6vh;
    margin-left: 30%;
    margin-right: 30%;
    width: 100%;
    height: 70vh;
    display: flex;
    padding-top: 5%;
    flex-direction: column;
    background-color: rgb(234, 238, 235);
    align-items: center;
    border-radius: 40px;
}

.inserir {
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inserir {
    width: 70%;
}

.dados form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.inserir input {
    width: 100%;
    height: 4Vh;
    border-radius: 10px;
    border: none;
    margin-top: 5%;
}

.inserir button {
    width: 100%;
    margin-top: 5%;
    height: 4Vh;
    border-radius: 10px;
    border: none;
    background-color: rgb(17, 49, 19);
    color: white;
}

.inserir select {
    width: 100%;
    margin-top: 5%;
    height: 4Vh;
    border-radius: 10px;
    border: none;
}

.texto {
    height: 20%;
    margin-top: 2vw;
}

.botoes {
    margin-top: 6%;
    display: flex;
    justify-content: space-around;
    height: 60%;
}

.botoes button {
    background-color: rgb(17, 49, 19);
    border-radius: 30px;
    border: none;
    font-size: large;
    width: 20vh;
    height: 50%;
    color: white;
}

.botoes input {
    border-radius: 30px;
    margin-left: 20%;
    margin-right: 20%;
    height: 12%;
    font-size: large;
    border: none;
}

.botoesDados button {
    background-color: rgb(17, 49, 19);
    border-radius: 30px;
    border: none;
    font-size: large;
    width: 100%;
    height: 4vh;
    color: white;
}

.botoesDados input {
    border-radius: 30px;
    height: 4vh;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: large;
    border: none;
}


/* .footer {
    display: block;
    width: 100%;
    height: 7vh;
    padding: 0;
    text-align: center;
    color: white;
    background: url(../imagem/CoresVerdeERoxo.png) no-repeat bottom center scroll;
    background-position: 30% 45%;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    z-index: -3;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */

/* .footer {
    display: block;
    width: 100%;
    height: 1vh;
    padding: 0;
    text-align: center;
    color: white;
    background: url(../imagem/CoresVerdeERoxo.png) no-repeat bottom center scroll;
    background-position: 30% 45%;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    z-index: -3;
    bottom: 0;
} */