* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: rgb(121, 216, 118);
}


/* HEADER */

.novoHeader {
    display: block;
    width: 100%;
    height: 1vh;
    padding: 0;
    text-align: center;
    color: white;
    background: url(../imagem/CoresVerdeERoxo.png) no-repeat bottom center scroll;
    background-position: 30% 45%;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    z-index: -3;
}

header {
    display: flex;
    align-items: center;
    height: 4rem;
    background-color: rgb(51, 110, 54);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header h3 {
    color: white;
    margin-left: 2vw;
}

header a {
    text-decoration: none;
}

/* FIM-HEADER */

/* MAIN */

main{
    display: flex;
    justify-content: center;
}

.quadro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.Otro{
    height: 80vh;
    width: 70vw;
    background-color: rgb(255, 255, 255);
}

.infos{
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgb(197, 196, 196);
    height: 25%;
    border-radius: 20px;
}

.foto{
    padding-top: 1.2vh;
    padding-left: 1.7vh;
}

.foto img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.informacoes{
    width: 70%;
}

.informacoes1{
    display: flex;
    flex-direction: column;
}

.informacoes1 input{
    width: 99%;
    margin-top: 2%;
    height: 3vh;
    border-radius:10px;
    border: none;
}
.informacoes2 input{
    width: 49%;
    margin-top: 2%;
    height: 3vh;
    border-radius: 10px;
    border: none;
}

/* FIM-MAIN */

/* FOOTER */

footer {
    display: block;
    width: 100%;
    height: 7vh;
    padding: 0;
    text-align: center;
    color: white;
    background: url(../imagem/CoresVerdeERoxo.png) no-repeat bottom center scroll;
    background-position: 30% 45%;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    z-index: -3;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

/* FIM-FOOTER */