* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: rgb(121, 216, 118);
}


/* HEADER */

.header{
    color: white;
    background: url(../imagem/CoresVerdeERoxo.png) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    z-index: -3;

    display: flex;
    height: 4rem;
    align-items: center;
    background-color: black;

    -webkit-box-shadow: -1px 7px 18px -4px rgba(0,0,0,1);
-moz-box-shadow: -1px 7px 18px -4px rgba(0,0,0,1);
box-shadow: -1px 7px 18px -4px rgba(0,0,0,1);
}

.novoHeader {
    display: block;
    width: 100%;
    height: 1vh;
    padding: 0;
    text-align: center;
    color: white;
    background: url(../imagem/CoresVerdeERoxo.png) no-repeat bottom center scroll;
    background-position: 30% 45%;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    z-index: -3;
}

header {
    display: flex;
    height: 4rem;
    background-color: rgb(51, 110, 54);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* FIM-HEADER */

/* MAIN */

.carrousel img {
    width: 100%;
    margin-top: 2vh;
}

/* CARDS */

.cardSuperior {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 80%;
    margin: 5%;
    height: 35rem;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.card img {
    margin-top: 3vh;
    border-radius: 1vw;
    display: flex;
    width: 20vw;
    height: 25vh;
}

.card button {
    background-color: rgb(50, 151, 46);
    border-radius: 5px;
    border: none;
    margin-left: 20%;
    margin-right: 20%;
    height: 10%;
    width: 10vw;
    font-size: large;
    margin-top: 8vh;
    color: white;
}

.card a {
    text-decoration: none;
    color: white;
}

/* FIM-CARDS */

.text {
    font-size: 2vw;
    margin-top: 5vh;
}

/* FIM-MAIN */

/* FOOTER */

footer {
    display: block;
    width: 100%;
    height: 7vh;
    padding: 0;
    text-align: center;
    color: white;
    background: url(../imagem/CoresVerdeERoxo.png) no-repeat bottom center scroll;
    background-position: 30% 45%;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    z-index: -3;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* FIM-FOOTER */