<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/styleADM.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="icon" href="img/R.png">
    <title>Unimed | Login ADM</title>
</head>

<body>
    <div class="novoHeader"></div>
    <header>
        <div class="nome" style="margin-top: 2vh;">
            <a href="../MedicoTela.ejs" style="text-decoration: none; color: rgb(255, 255, 255);">Seja bem vindo(a),
                <b>
                    <%= nome %>
                </b>
            </a>
        </div>
    </header>
    <main>
        <!-- Carrorel -->
        <form>

            <input type="radio" name="fancy" autofocus value="clubs" id="clubs" />
            <input type="radio" name="fancy" value="hearts" id="hearts" />
            <input type="radio" name="fancy" value="spades" id="spades" />
            <input type="radio" name="fancy" value="diamonds" id="diamonds" />
            <label for="clubs"><img src="../imagem/notamaxima_site.jpg" alt=""></label>
            <label for="hearts"><img src="../imagem/Banner (2).png" alt=""></label>
            <label for="spades"><img src="../imagem/2022_09_30 - UNIMED_BANNER-DIGITAL_V4_1440x411.jpg" alt=""></label>
            <label for="diamonds"><img src="../imagem/191222_Portfolio_banner_site.png" alt=""></label>

        </form>
        <!-- Carrorel -->
        <div class="cardSuperior">
            <div class="card" id="cardConsulta">
                <img src="../imagem/R.jpg" alt="">
                <div class="text">
                    VER CONSULTAS
                </div>
                <button>
                    <a href="/VerConsultasADM">CONTINUE</a>
                </button>
            </div>
            <div class="card" id="cardMédico">
                <img src="../imagem/5aa04d0a08f3d94c5d8b4567.jpg" alt="">
                <div class="text">
                    VER MÉDICOS
                </div>
                <button>
                    <a href="/VerMedicosADM">CONTINUE</a>
                </button>
            </div>
        </div>
    </main>
    <footer>
        <!--<img src="img/logo bosch.png" alt="" width="100px">-->
        <h5 class="texttt">ETS | Engineering technician School </h5>
        <div id="footerBosch"></div>
    </footer>
</body>

</html>