<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/styleADMonsultas.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <title>Unimed | Ver consultas</title>
</head>
<body>
    <div class="novoHeader"></div>
    <header>
        <div class="nome" style="margin-top: 2vh;">
            <a href="../MedicoTela.ejs" style="text-decoration: none; color: rgb(255, 255, 255);">Seja bem vindo(a),
                <b>
                    
                </b>
            </a>
        </div>
    </header>
    <main>
        <div class="quadro">
            <!-- <div class="pesquisar">
                <div class="data">
                    <img src="imagem/lupa.png" alt="">
                    <h5>Você procura por: </h5>
                    <select name="opcao" id="opcao">
                        <option value="valor1" disabled>Pesquisar</option>
                        <option value="valor2">Data mais recente</option>
                        <option value="valor3">Data mais antiga</option>
                    </select>
                </div>
                
                <div class="medico">
                    <img src="imagem/lupa.png" alt="">
                    <h5>Você procura por: </h5>
                    <select name="opcao" id="opcao">
                        <option value="valor1" disabled>Pesquisar</option>
                        <option value="valor2">Pediatria</option>
                        <option value="valor3">Cardiologista</option>
                        <option value="valor3">Geriatra</option>
                    </select>
                </div>
            </div> -->
            <% for (let i = 0; i < consultas.length; i++){ %>
                <div class="card">
                    <div class="medicoCard">
                        <div class="data:">Data:</div>
                        <div class="horario"><%= consultas[i].Data %></div>
                    </div>
                    <div class="medicoCard">
                        <div class="nomeDoutor">CPF Medico:</div>
                        <div class="CRM"><%= consultas[i].CPF_Medico %></div>
                    </div>
                    <div class="medicoCard">
                        <div class="nome">CPF Paciente:</div>
                        <div class="CPF"><%= consultas[i].CPF_Paciente%></div>
                    </div>
                </div>
            <%}%>
        </div>
    </main>
    <footer>
        <!--<img src="img/logo bosch.png" alt="" width="100px">-->
        <h5 class="texttt">ETS | Engineering technician School </h5>
        <div id="footerBosch"></div>
    </footer>
</body>
</html>