<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styleVerMedico.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <title>Unimed | Ver médicos</title>
</head>

<body>
    <div class="novoHeader"></div>
    <header>
        <a href="ADM.html">
            <h3>Bem vindo Dr. <%=Flavio Almeida%>
            </h3>
        </a>
    </header>
    <main>
        <div class="quadro">
            <div class="Otro">
                <br>
                <div class="infos">
                    <div class="foto">
                        <img src="imagem/transferir.jpg" style="width: 75%;">
                    </div>
                    <div class="informacoes">
                        <div class="informacoes1">
                            <input type="text" placeholder=" Nome:">
                            <input type="text" placeholder=" Endereço:">
                        </div>

                        <div class="informacoes2">
                            <input type="text" placeholder=" EDV:">
                            <input type="text" placeholder=" CPF:">
                        </div>
                    </div>
                </div>
            </div>
    </main>
    <footer>
        .
    </footer>
</body>

</html>