<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/login.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <title>Unimed | Cadastrar</title>
</head>

<body>
    <div class="novoHeader"></div>
    <div class="header">
        <div class="logo"></div>
        <div class="logoUnimed" style="padding-top: 1.3vh;">
            <img src="imagem/unimedLogo.png" width="110vw">
        </div>
        <div class="logoBosch" style="padding-top: 1.6vh; margin-left: 3vh;">
            <img src="imagem/bosch-logo.png" width="150vw;" >
        </div>
    </div>

    <main>
    <div class="login">
        
        <div class="dados">

            <div class="inserir">
                <form method="post" action="/Cadastrar">
                    <input type="text" name="Nome" placeholder=" Nome:">
                    <input type="text" name="EDV" placeholder=" EDV:">
                    <input type="text" name="CPF_Paciente" placeholder=" CPF:">
                    <input type="text" name="Idade" placeholder=" Idade:">
                    <input type="text" name="Senha" placeholder=" Senha:"> 
                    <button>CADASTRAR</button>
                </form>
            </div>
        </div>
    </div>
    </main>
</body>

</html>