<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/login.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <title>Unimed | Login</title>
</head>

<body>
    <div class="novoHeader"></div>
    <div class="header">
        <div class="logo"></div>
        <div class="logoUnimed" style="padding-top: 1.3vh;">
            <img src="/imagem/unimedLogo.png" width="110vw">
        </div>
        <div class="logoBosch" style="padding-top: 1.6vh; margin-left: 3vh;">
            <img src="/imagem/bosch-logo.png" width="150vw;">
        </div>
    </div>

    <div class="login">
        <div class="imagem"></div>
        <div class="opcoesDados">
            <div class="texto">
                <h1>LOGIN</h1>
            </div>

            <div class="botoesDados">
                <form action="/Verificar/<%= id %>" method="post">
                    <input type="text" name="documento" placeholder=" DOCUMENTO">
                    <!-- <input type="text" name="senha" placeholder=" SENHA"> -->
                    <input type="password" name="senha" placeholder=" SENHA" id="senha">
                    <button type="submit">ENTRAR</button>
                </form>
            </div>
        </div>
        <div class="imagem2"></div>
    </div>
</body>
<script src="../js/Dados.js"></script>

</html>