<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/login.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <title>Unimed | Login</title>
</head>

<body>
    <div class="header">
        <div class="logoUnimed" style="padding-top: 1vh;">
            <img src="../imagem/unimedLogo.png" width="120vw">
        </div>
        <div class="logoBosch" style="padding-top: 1.3vh; margin-left: 3vh;">
            <img src="../imagem/bosch-logo.png" width="170vw;">
        </div>
    </div>

    <div class="login">
        <div class="imagem">

        </div>
        <div class="opcoes">

            <div class="opcoesLogin">
                <div class="texto">
                    <h1>LOGIN</h1>
                </div>

                <div class="botoes">
                    <form method="get" action="/Login/1">
                        <button type="submit">PACIENTE</button>
                    </form>
                    <form method="get" action="/Login/2">
                        <button type="submit">MEDICO</button>
                    </form>
                    <form method="get" action="/Login/3">
                        <button type="submit">AMBULATORIO</button>
                    </form>
                </div>
            </div>

            <div class="opcoesCadastro">
                <div class="texto">
                    <h1>CADASTRO</h1>
                </div>

                <div class="botoes">
                    <a href="/Cadastrar"><button>PACIENTE</button></a>
                    <a href="/CadastrarMedico"><button>MEDICO</button></a>
                    <a href="/CadastrarADM"><button>AMBULATORIO</button></a>
                </div>
            </div>

        </div>
    </div>

    <div class="footer">
        .
    </div>

</body>

</html>