<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/styleMedicoConsulta.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="icon" href="/imagem/LogoPreto.png">
    <title>Unimed | Ver consultas</title>
</head>
<body>
    <div class="novoHeader"></div>
    <header>
        <div class="nome" style="margin-top: 2vh;">
            <a href="../MedicoTela.ejs" style="text-decoration: none; color: rgb(255, 255, 255);">Seja bem vindo(a),
                Dr.<b>
                    <%= nome %>
                </b></a>
        </div>
    </header>
    <main>
        <div class="quadro">
            <% for(let i = 0; i < Consultas.length; i++) {%>
                <div class="card">
                    <div class="medicoCard">
                        <div class="EDV">Data: <%= Consultas[i].Data %></div>
                        <div class="CPF">Horario: <%= Consultas[i].Time %> : 00</div>
                        <div class="CRM">CPF Paciente: <%= Consultas[i].CPF_Paciente %></div>
                    </div>
                </div>
            <%}%>
        </div>
    </main>
    <footer>
        <!--<img src="img/logo bosch.png" alt="" width="100px">-->
        <h5 class="texttt">ETS | Engineering technician School </h5>
        <div id="footerBosch"></div>
    </footer>
</body>
</html>