<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styleConsultas.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <title>Unimed | Ver consultas</title>
</head>
<body>
    <header>
       
    </header>
    <main>
        <div class="quadro">
            <div class="card">
                <h5>Pediatria</h5>
                <div class="medicoCard">
                    <div class="nomeDoutor">Nome: Flavio Almeida</div>
                </div>
                <div class="medicoCard">
                    <div class="CRM">Endereço: Hospital Av. Rep. Argentina, 4650</div>        
                </div>
                <div class="medicoCard">
                    <div class="EDV">54400927</div>
                    <div class="CPF">CPF: 447.806.542-03</div>
                    <div class="CRM">CRM: 54400597</div>
                </div>
            </div>
            <div class="pesquisar">
                <div class="data">
                    <img src="imagem/lupa.png" alt="">
                    <h5>Você procura por: </h5>
                    <select name="opcao" id="opcao">
                        <option value="valor1" disabled>Pesquisar</option>
                        <option value="valor2">Data mais recente</option>
                        <option value="valor3">Data mais antiga</option>
                    </select>
                </div>
            </div>
        </div>
    </main>
    <footer>
        .
    </footer>
</body>
</html>