<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/styleMedicoConsulta.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <title>Unimed | Ver consultas</title>
</head>
<body>
    <header>
       
    </header>
    <main>
        <div class="quadro">
            <% for(let i = 0; i < Consultas.length; i++) {%>
                <div class="card">
                    <div class="medicoCard">
                        <div class="EDV">Data: <%= Consultas[i].Data %></div>
                        <div class="CPF">Horario: <%= Consultas[i].Time %></div>
                        <div class="CRM">CPF Paciente: <%= Consultas[i].CPF_Paciente %></div>
                    </div>
                </div>
            <%}%>
            <div class="pesquisar">
                <div class="data">
                    <img src="imagem/lupa.png" alt="">
                    <h5>Você procura por: </h5>
                    <select name="opcao" id="opcao">
                        <option value="valor1" disabled>Pesquisar</option>
                        <option value="valor2">Data mais recente</option>
                        <option value="valor3">Data mais antiga</option>
                    </select>
                </div>
            </div>
        </div>
    </main>
    <footer>
        .
    </footer>
</body>
</html>